
body{
	background:url(fond.png)   ;
	background-size: cover;
	font-family: 'Trebuchet MS', Arial, sans-serif;
	
}

#bloc_page
{
    
    margin: auto;
}
#Demarrer{
	display: block;
	border-radius: 15px;
	margin:1em auto;
	height: 80px;
	width: 300px;
	box-shadow:8px 8px 8px #999;
	background:#eee;
	font:bold 50px Arial;
	color:#555;
}

#Presenter, #Cacher{
	display: block;
	border-radius: 15px;
	margin:1em auto;
	height: 50px;
	width: 200px;
	box-shadow:10px 10px 12px #999;
	background:#eee;
	font:bold 20px Arial;
	color:#555;
}



h1 {
	text-align: center;
	font-size: 70px;
}
.sudoex{
	height: 340px;
	width: 340px;
	background: url(sudo1.png);
	margin:1em auto;
	
}
.selec{
	margin: auto;
	font-size: 40px;
	text-align:center;
}
.niveau{
	border-collapse: separate;
	border-spacing: 50px;
	margin: auto;
}
.bouton1{
	width: 200px;
	border:none;
	border-radius:15px;
	padding:10px 0 10px 0;
	
	box-shadow:8px 8px 8px #999;
	background:#ddd;
	font:bold 30px Arial;
	color:#555;
	
}

.bouton2{
	width: 200px;
	border:none;
	border-radius:15px;
	padding:10px 0 10px 0;
	
	box-shadow:8px 8px 8px #999;
	background:#ddd;
	font:bold 15px Arial;
	color:#555;
	
}
.sudo {
  margin:1em auto;

}

.sudosol {
  margin:1em auto;
  color: green;

}

.clavier {
  margin:1em auto;
  position: relative ;
  left: -300px;
  top: -300px;
 
}

#correction {
  margin:1em auto;
  text-align: center;
  color:#FF0000;
 
}





td {
  height:30px;
  width:30px;
  border:1px solid;
  text-align:center;
  background-color: rgba(255, 255, 255, 0.5);
}
td:first-child {
  border-left:solid;
}
td:nth-child(3n) {
  border-right:solid ;
}
tr:first-child {
  border-top:solid;
}
tr:nth-child(3n) td {
  border-bottom:solid ;
}
	 



